USE [HR_Shinsung]
GO
/****** Object:  StoredProcedure [dbo].[sp_TinhLuong]    Script Date: 18/12/2024 2:30:48 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_TinhLuong]    
 -- Add the parameters for the stored procedure here    
 --exec [dbo].[sp_TinhLuong]   1,null,null,10,2024,'MonthlySalary','2022-04-10',null,null,null,null,null,null,null
 --exec [dbo].[sp_TinhLuong]   1,'2023-02-01','2023-02-28',null,null,'MonthlySalary','2022-04-10',null,null,null,null,null,null,null
	@TypeOfReport INT=1, --1: VP, 2: VP-nhà máy, 3: Sợi, 4:Dệt, 5: Lương người nước ngoài
	@SLRfromdate datetime,
	@SLRtodate datetime,
	@Month INT=10,    
	@Year INT=2024,    
	@SalaryKey varchar(50)='MonthlySalary',
	@NgayThanhToan datetime,
	@UserName nvarchar(50)=null,
	@fact nvarchar(50)=null,
	@dept nvarchar(50)=null,
	@sect nvarchar(50)=null,
	@team nvarchar(50)=null,
	@pos nvarchar(50)=null,
	@posc nvarchar(50)=null,
	@ListOfEmployee nvarchar(max)=null
AS 
BEGIN
 -- SET NOCOUNT ON added to prevent extra result sets from    
 -- interfering with SELECT statements.    
 SET NOCOUNT ON;    
 
	 DECLARE
		@SalaryComponent nvarchar(50)
		,@Employee_ID nvarchar(50),@OldEmployee_ID nvarchar(50)
		,@Value float,@ValueConvert nvarchar(50)
		,@MaCong nvarchar(50),@MaPhep nvarchar(50)
		,@LuongToiThieuVung FLOAT
		,@LuongCoBanTV FLOAT
		,@TroCapDiLaiTV FLOAT
		,@TroCapNhaTV FLOAT
        
	 DECLARE
		@queryUpdate nvarchar(max)
		,@fromdate datetime,@todate DATETIME
		,@NgayDauThangTruoc datetime,@NgayCuoiThangTruoc DATETIME
		,@dnext DATETIME
		,@SoNgaySauKhiMangThaiDuocHuongCheDoThaiSan INT
		,@TrangThaiKH BIT
		,@NgayCongTieuChuan INT
		,@DauThang datetime,@CuoiThang DATETIME
		,@isNghiToanCty BIT
		,@BHTNCtyTra float, @BHTNNLDTra float, @BHXHCtyDongNguoiNN float, @BHXHCtyTra FLOAT
		,@ChuyenCan FLOAT
		,@HuuTriTuTuatCTyTra float, @HuuTriTuTuatNLDTra FLOAT
		,@LuongCoSo float, @LuongTinhCovid FLOAT
		,@TienCongDoan FLOAT
		,@CongDoanNLDTra float, @CongDoanCtyTra FLOAT
		,@SinhNhat float
		,@TyGiaUSD float, @NgayApDungTyGia datetime, @LuongTinhBH float
		
	 set @TrangThaiKH=[dbo].[udf_TrangThaiKH](@UserName)
	
	
	set @fromdate=DATEFROMPARTS(@Year,@Month,1)
	set @todate=EOMONTH(@fromdate)
	set @NgayDauThangTruoc=dateadd(month,-1,@DauThang)
	set @NgayCuoiThangTruoc=@DauThang-1	
	

	set @NgayCongTieuChuan=26--dbo.udf_CountWorkingDay(@fromdate,@todate)	
	
	
	IF @SLRfromdate is NULL
	BEGIN
		if @TrangThaiKH=1
		BEGIN
			set @SalaryKey=@SalaryKey+'_TachCong'
		end
	END
    ------------------------------------

	SELECT @LuongToiThieuVung=Value
	FROM HR_SetUpFollowDate
	WHERE Group_='LuongToiThieuVung' and Fromdate<=@todate and (Todate is null or Todate>=@fromdate)
	ORDER by Fromdate ASC
    
	select @LuongCoSo=Value
	FROM HR_SetUpFollowDate
	WHERE Group_='Salary' and Code = 'LuongCoSo' and Fromdate<=@todate and (Todate is null or Todate>=@fromdate)
	ORDER by Fromdate ASC	
    
	select @ChuyenCan=Value
	FROM HR_SetUpFollowDate
	WHERE Group_='TienTroCap' and Code = 'TienChuyenCan' and Fromdate<=@todate and (Todate is null or Todate>=@fromdate)
	ORDER by Fromdate ASC
    
	select @SinhNhat=Value
	FROM HR_SetUpFollowDate
	WHERE Group_='TienTroCap' and Code = 'SinhNhat' and Fromdate<=@todate and (Todate is null or Todate>=@fromdate)
	ORDER by Fromdate asc
	
	SELECT @SoNgaySauKhiMangThaiDuocHuongCheDoThaiSan=[Value]
	FROM [dbo].[SetUp]
	WHERE ID='SoNgaySauKhiMangBauDuocHuongThaiSan'

	select @TienCongDoan=Value
	FROM HR_SetUpFollowDate 
	WHERE Group_='Salary' and Code = 'CongDoanNLDTra' and Fromdate<=@todate and (Todate is null or Todate>=@fromdate)
	ORDER by Fromdate asc

	select @CongDoanNLDTra=Value from HR_SetUpFollowDate where Group_='CongDoanNLDTra' and Code = 'LuongCoBan' and Fromdate<=@todate and (Todate is null or Todate>=@fromdate) order by Fromdate asc
	select @CongDoanCtyTra=Value from HR_SetUpFollowDate where Group_='CongDoanCtyTra' and Code = 'LuongCoBan' and Fromdate<=@todate and (Todate is null or Todate>=@fromdate) order by Fromdate asc
	select @BHTNCtyTra=Value from HR_SetUpFollowDate where Group_='Salary' and Code = 'BHTNCtyTra' and Fromdate<=@todate and (Todate is null or Todate>=@fromdate) order by Fromdate asc
	select @BHTNNLDTra=Value from HR_SetUpFollowDate where Group_='Salary' and Code = 'BHTNNLDTra' and Fromdate<=@todate and (Todate is null or Todate>=@fromdate) order by Fromdate asc
	select @BHXHCtyDongNguoiNN=Value from HR_SetUpFollowDate where Group_='Salary' and Code = 'BHXHCtyDongNguoiNN' and Fromdate<=@todate and (Todate is null or Todate>=@fromdate) order by Fromdate asc
	select @BHXHCtyTra=Value from HR_SetUpFollowDate where Group_='Salary' and Code = 'BHXHCtyTra' and Fromdate<=@todate and (Todate is null or Todate>=@fromdate) order by Fromdate asc
	select @TyGiaUSD = [Value] from HR_SetUpFollowDate where Group_='Salary' and Code = 'TyGiaUSD' and Fromdate<=@todate and (Todate is null or Todate>=@fromdate) order by Fromdate asc
	select @NgayApDungTyGia = Fromdate from HR_SetUpFollowDate where Group_='Salary' and Code = 'TyGia' and Fromdate<=@todate and (Todate is null or Todate>=@fromdate) order by Fromdate asc
	select @LuongTinhBH = [Value] from HR_SetUpFollowDate where Group_='Salary' and Code = 'LuongTinhBH' and Fromdate<=@todate and (Todate is null or Todate>=@fromdate) order by Fromdate asc
	
	
	
	
	
	--------------------------------------
		

	 --Tạo bảng ngày
	declare @tabDate table(Ngay datetime,primary key (Ngay))
	declare @dtnext datetime
	set @dtnext=@fromdate
	while @dtnext<=@todate
	BEGIN
		insert into @tabDate (Ngay) values(@dtnext)
		set @dtnext=@dtnext+1
	end
		

	-- nguoi phu thuoc
	DECLARE @dependentPerson TABLE
	(
		Employee_ID nvarchar(50) NOT NULL, 
		DependentPerson int NULL,
		primary key ([Employee_ID])
	)
	insert into @dependentPerson
	select Employee_ID,count(Employee_ID) as DependentPerson
	FROM HR_DanhSachNguoiPhuThuoc
	WHERE DependFromMonth<=@todate and (DependToMonth is null or DependToMonth>=@fromdate)
	AND (case when isnull(@ListOfEmployee,'')='' then '' else employee_id end) in (select data from split((case when isnull(@ListOfEmployee,'')='' then '' else @ListOfEmployee end),','))
	group by Employee_ID
	-------------------
	
	--Đêm số ngày công để tính bảo hiểm begin
	DECLARE @tabDemNgayBH as table(
					Employee_ID nvarchar(50)
					,cong float					
					PRIMARY key(Employee_ID)
					)
	insert into @tabDemNgayBH
	SELECT
		Employee_ID
		,COUNT(DISTINCT Ngay)
	FROM
	(
		SELECT wt.Employee_ID,Ngay,SUM(wt) AS wt
		FROM
		HR_WTDaily	wt
		LEFT JOIN 
		dbo.udf_NgayKyHDChinhThuc(@fromdate,@todate,@Employee_ID) nkhdct
		ON wt.Employee_ID=nkhdct.Employee_ID
		WHERE wt.Ngay between @fromdate AND @todate AND wt.Ngay >=ISNULL(nkhdct.NgayKyHDChinhThuc,@fromdate)
		AND MaCong IN (SELECT MaCong FROM dbo.HR_LoaiCong WHERE ISNULL(isWorkingTime,0)=1)
		GROUP BY wt.Employee_ID,Ngay
	) wt
	
	WHERE ISNULL(wt.wt,0)>0 
	GROUP BY wt.Employee_ID

	--Đếm số ngày được ăn bữa phụ
	DECLARE @tabDemNgayOT as table(
					Employee_ID nvarchar(50)
					,SoNgay float					
					PRIMARY key(Employee_ID)
					)
	insert into @tabDemNgayOT
	SELECT
		Employee_ID
		,COUNT(DISTINCT Ngay)
	FROM
	(
		SELECT Employee_ID,Ngay,SUM(wt) AS wt
		FROM HR_WTDaily		
		WHERE Ngay BETWEEN @fromdate and @todate
		AND MaCong NOT IN ('wt1','wt9','CN_wt4','wt4','CN_wt6','wt6')--(SELECT MaCong FROM dbo.HR_LoaiCong WHERE ISNULL(isWorkingTime,0)=0)
		GROUP BY Employee_ID,Ngay
	) wt
	WHERE ISNULL(wt.wt,0)>=3
	GROUP BY wt.Employee_ID
	
	

	DECLARE @tabDiMuonVeSom table(
					Employee_ID nvarchar(50)
					,SoLanDMVS_CT INT
					,SoLanDMVS_TV INT
					,ThoiGianDTVS_CT FLOAT
                    ,ThoiGianDTVS_TV float
					, SoLanQuenQuetThe_CT INT
					, SoLanQuenQuetThe_TV INT
					, Primary key(Employee_ID)
					)
	INSERT into @tabDiMuonVeSom
	SELECT 
		dmvs.Employee_ID AS employee_id
		,isnull(SoLanDiTreVeSom_CT,0) as SoLanDMVS_NghiKL_CT
		,isnull(SoLanDiTreVeSom_TV,0) as SoLanDMVS_NghiKL_TV
		,ISNULL(dmvs.ThoiGianDiTreVeSom_CT,0) AS ThoiGianDTVS_CT
		,ISNULL(dmvs.ThoiGianDiTreVeSom_TV,0) AS ThoiGianDTVS_TV
		,SoLanQuenQuetVanTay_CT
		,SoLanQuenQuetVanTay_TV
	FROM 
	[dbo].[udf_DiTreVeSomVaXinRaNgoai](@fromdate,@todate,'VN',NULL,NULL,NULL,NULL,NULL,NULL,NULL) dmvs
	
	 
	----Bảng công tạm theo tháng
	--Declare @tabBangCongTamTheoThang table (
	--				Employee_ID nvarchar(50)
	--				, cct_wt1 float, cct_wt9 float, cct_CN_wt3 FLOAT, cct_CN_wt5 FLOAT
	--				, ctv_wt1 float, ctv_wt9 float, ctv_CN_wt3 float, ctv_CN_wt5 FLOAT
	--				, primary key (Employee_ID)
	--				)
	--insert into @tabBangCongTamTheoThang
	--SELECT
	--	thc.Employee_ID
	--	, sum(cct_wt1) as cct_wt1, sum(cct_wt9) as cct_wt9
	--	, sum(cct_CN_wt3) as cct_CN_wt3, sum(cct_CN_wt5) as cct_CN_wt5
	--	, sum(ctv_wt1) as ctv_wt1, sum(ctv_wt9) as ctv_wt9
	--	, sum(ctv_CN_wt3) as ctv_CN_wt3, sum(ctv_CN_wt5) as ctv_CN_wt5
	--from
	--(
	--	SELECT
	--		dkc.AccessDate, dkc.Employee_ID
	--		,CASE
	--			WHEN dkc.ShiftName like N'%Shift0' and isnull(nkhdct.NgayKyHDChinhThuc,dkc.AccessDate-1) < AccessDate then 8
	--			WHEN dkc.ShiftName like N'%Shift3' and isnull(nkhdct.NgayKyHDChinhThuc,dkc.AccessDate-1) < AccessDate then 4
	--			ELSE 0
	--		END as cct_wt1
	--		,CASE
	--			WHEN dkc.ShiftName like N'%Shift3' and isnull(nkhdct.NgayKyHDChinhThuc,dkc.AccessDate-1) < AccessDate then 4
	--			ELSE 0 
	--		END as cct_wt9
	--		,CASE
	--			WHEN dkc.ShiftName like N'%Shift0' and dkc.CheDo in (0,3) and isnull(nkhdct.NgayKyHDChinhThuc,dkc.AccessDate-1) < AccessDate then 3
	--			ELSE 0
	--		END as cct_CN_wt3
	--		,CASE
	--			WHEN dkc.ShiftName like N'%Shift3' and dkc.CheDo in (0,3) and isnull(nkhdct.NgayKyHDChinhThuc,dkc.AccessDate-1) < AccessDate then 3
	--			ELSE 0
	--		END as cct_CN_wt5
	--		,CASE
	--			WHEN dkc.ShiftName like N'%Shift0' and isnull(nkhdct.NgayKyHDChinhThuc,dkc.AccessDate-1) >= AccessDate then 8
	--			WHEN dkc.ShiftName like N'%Shift3' and isnull(nkhdct.NgayKyHDChinhThuc,dkc.AccessDate-1) >= AccessDate then 4
	--			ELSE 0
	--		END as ctv_wt1
	--		,CASE
	--			WHEN dkc.ShiftName like N'%Shift3' and isnull(nkhdct.NgayKyHDChinhThuc,dkc.AccessDate-1) >= AccessDate then 4
	--			ELSE 0
	--		END as ctv_wt9
	--		,CASE
	--			WHEN dkc.ShiftName like N'%Shift0' and dkc.CheDo in (0,3) and isnull(nkhdct.NgayKyHDChinhThuc,dkc.AccessDate-1) >= AccessDate then 3 
	--			ELSE 0 
	--		END as ctv_CN_wt3
	--		,CASE
	--			WHEN dkc.ShiftName like N'%Shift3' and dkc.CheDo in (0,3) and isnull(nkhdct.NgayKyHDChinhThuc,dkc.AccessDate-1) >= AccessDate then 3
	--			ELSE 0
	--		END as ctv_CN_wt5
	--	from
	--	udf_DangKyCa (@fromdate,@todate,182,null,null,null,null,null,null,null) dkc
	--	left join
	--	HR_Shifts shi
	--	on dkc.ShiftName = shi.ShiftName
	--	left join
	--	udf_NgayKyHDChinhThuc (@fromdate, @todate, null) nkhdct
	--	on dkc.AccessDate >= nkhdct.NgayKyHDChinhThuc and dkc.Employee_ID = nkhdct.Employee_ID
	--	where datepart(dw,dkc.AccessDate) <> 1
	--) thc
	--group by thc.Employee_ID
	-------------------------------------------

	--SHOW RA
	SELECT 
		@SalaryKey as [Key]
		,@Month as Salary_Month,@Year as Salary_Year
		,@LuongToiThieuVung as LuongToiThieuVung
		,@fromdate as NgayDauKyLuong,@todate as NgayCuoiKyLuong
		
		,empl.Employee_ID
		,[dbo].[udf_FullName](empl.[Employee_Firstname],empl.Employee_LastName) as FullName    
		,empl.StartedDate,empl.BankAccount
		,empl.PositionName
		,CASE
			WHEN empl.OfficialDate <= @fromdate THEN 2
			WHEN empl.OfficialDate BETWEEN @fromdate AND @todate THEN 1
			ELSE 0
		END AS CT_TV
		
		,@NgayCongTieuChuan*CASE WHEN empl.DepartmentCode like '%Soi%' THEN 8 ELSE 8 END AS GioCongTieuChuan
		,CASE WHEN empl.DepartmentCode like '%Soi%' THEN 8 ELSE 8 END AS GioCongTieuChuan1Ngay
		,@NgayCongTieuChuan as NgayCongTieuChuan
		--Cho phép DTVS 2 lần/tháng, <=1h/lần
		,CASE
			when empl.DepartmentCode like 'Production_Soi%' and ISNULL(cct.wt1,0)+ISNULL(ctv.wt1,0)+ISNULL(cct.wt9,0)+ISNULL(ctv.wt9,0)
					+ ISNULL(pct.PhepHuongLuong,0)+ISNULL(ptv.PhepHuongLuong,0)+ISNULL(pct.KLKhongMatCC,0)+ISNULL(ptv.KLKhongMatCC,0)
					> ((datediff(day,@fromdate,@todate+1)*CASE WHEN empl.DepartmentCode='Production_Soi' THEN 9 ELSE 8 END) /*- isnull(pct.NghiTuan,0) - isnull(ptv.NghiTuan,0)*/) - (CASE WHEN empl.DepartmentCode='Production_Soi' THEN 4.5 ELSE 4 END)
				then @ChuyenCan
			WHEN ISNULL(cct.wt1,0)+ISNULL(ctv.wt1,0)+ISNULL(cct.wt9,0)+ISNULL(ctv.wt9,0)
					+ ISNULL(pct.PhepHuongLuong,0)+ISNULL(ptv.PhepHuongLuong,0)+ISNULL(pct.KLKhongMatCC,0)+ISNULL(ptv.KLKhongMatCC,0)
					> (@NgayCongTieuChuan*CASE WHEN empl.DepartmentCode='Production_Soi' THEN 9 ELSE 8 END) - (CASE WHEN empl.DepartmentCode='Production_Soi' THEN 4.5 ELSE 4 END)
			THEN @ChuyenCan
			ELSE 0
		end	as ChuyenCan
		,NuoiCNDuoi6Tuoi.TienTroCap AS TCConNho
		,CASE when empl.OfficialDate between @fromdate and @todate AND MONTH(empl.BirthDate) =@Month and day(empl.BirthDate) >= day(empl.OfficialDate) then @SinhNhat WHEN empl.OfficialDate<=@fromdate AND MONTH(empl.BirthDate) =@Month THEN @SinhNhat ELSE 0 END AS SinhNhat
		
		,case when empl.position like N'Production_Soi%' or empl.position like N'Production_Det%' then ISNULL(ngayOT.SoNgay,0) else 0 end AS SoNgayOT
		,ISNULL(ngayBH.cong,0) AS SoNgayBH
		
		,isnull(lcdCu.CD1,0) as OldCD1, isnull(lcdCu.CD2,0) as OldCD2, isnull(lcdCu.CD3,dbo.udf_PCThamNien(empl.OfficialDate+1,@fromdate,'')) as OldCD3,lcdCu.CD4 as OldCD4,lcdCu.CD5 as OldCD5
		,lcdCu.CD6 as OldCD6,lcdCu.CD7 as OldCD7,lcdCu.CD8 as OldCD8,lcdCu.CD9 as OldCD9,lcdCu.CD10 as OldCD10
		,(
			case when empl.StartedDate between @fromdate and @todate or isnull(empl.TernimationDate,@todate + 1) between @fromdate and @todate then
				(
					case when empl.Factory_ID = 'Office' and isnull(cct.wt1,0) + isnull(cct.wt9,0) + isnull(ctv.wt1,0) + isnull(ctv.wt9,0) >= 10 * (CASE WHEN empl.DepartmentCode='Production_Soi' THEN 9 ELSE 8 END) then lcdCu.CD11
						when empl.Factory_ID <> 'Office' and isnull(cct.wt1,0) + isnull(cct.wt9,0) + isnull(ctv.wt1,0) + isnull(ctv.wt9,0) >= 20 * (CASE WHEN empl.DepartmentCode='Production_Soi' THEN 9 ELSE 8 END) then lcdCu.CD11 
						else 0 end
				)
			else lcd.CD11 end
		) as OldCD11
		,lcdCu.CD12 as OldCD12,lcdCu.CD13 as OldCD13,lcdCu.CD14 as OldCD14,lcdCu.CD15 as OldCD15
		,(
			case when empl.StartedDate between @fromdate and @todate or isnull(empl.TernimationDate,@todate + 1) between @fromdate and @todate then
				(
					case when empl.Factory_ID = 'Office' and isnull(cct.wt1,0) + isnull(cct.wt9,0) + isnull(ctv.wt1,0) + isnull(ctv.wt9,0) >= 10 * (CASE WHEN empl.DepartmentCode='Production_Soi' THEN 9 ELSE 8 END) then lcdCu.CD16
						when empl.Factory_ID <> 'Office' and isnull(cct.wt1,0) + isnull(cct.wt9,0) + isnull(ctv.wt1,0) + isnull(ctv.wt9,0) >= 20 * (CASE WHEN empl.DepartmentCode='Production_Soi' THEN 9 ELSE 8 END) then lcdCu.CD16 
						else 0 end
				)
			else lcd.CD16 end
		) as OldCD16
		,lcdCu.CD17 as OldCD17,lcdCu.CD18 as OldCD18,lcdCu.CD19 as OldCD19,lcdCu.CD20 as OldCD20
		
		,isnull(lcd.CD1,0) as CD1, isnull(lcd.CD2,0) as CD2, isnull(lcd.CD3,dbo.udf_PCThamNien(empl.OfficialDate+1,@todate,'')) as CD3, isnull(lcd.CD4,0) as CD4, isnull(lcd.CD5,0) as CD5
		,isnull(lcd.CD6,0) as CD6,lcd.[CD7],lcd.[CD8],lcd.[CD9],lcd.[CD10]
		,(
			case when empl.StartedDate between @fromdate and @todate or isnull(empl.TernimationDate,@todate + 1) between @fromdate and @todate then
				(
					case when empl.Factory_ID = 'Office' and isnull(cct.wt1,0) + isnull(cct.wt9,0) + isnull(ctv.wt1,0) + isnull(ctv.wt9,0) >= 10 * (CASE WHEN empl.DepartmentCode='Production_Soi' THEN 9 ELSE 8 END) then lcd.CD11
						when empl.Factory_ID <> 'Office' and isnull(cct.wt1,0) + isnull(cct.wt9,0) + isnull(ctv.wt1,0) + isnull(ctv.wt9,0) >= 20 * (CASE WHEN empl.DepartmentCode='Production_Soi' THEN 9 ELSE 8 END) then lcd.CD11 
						else 0 end
				)
			else lcd.CD11 end
		) as CD11
		,lcd.[CD12],lcd.[CD13],lcd.[CD14],lcd.[CD15]
		,(
			case when empl.StartedDate between @fromdate and @todate or isnull(empl.TernimationDate,@todate + 1) between @fromdate and @todate then
				(
					case when empl.Factory_ID = 'Office' and isnull(cct.wt1,0) + isnull(cct.wt9,0) + isnull(ctv.wt1,0) + isnull(ctv.wt9,0) >= 10 * (CASE WHEN empl.DepartmentCode='Production_Soi' THEN 9 ELSE 8 END) then lcd.CD16
						when empl.Factory_ID <> 'Office' and isnull(cct.wt1,0) + isnull(cct.wt9,0) + isnull(ctv.wt1,0) + isnull(ctv.wt9,0) >= 20 * (CASE WHEN empl.DepartmentCode='Production_Soi' THEN 9 ELSE 8 END) then lcd.CD16 
						else 0 end
				)
			else lcd.CD16 end
		) as CD16,lcd.[CD17],lcd.[CD18],lcd.[CD19],lcd.[CD20]
		
		,isnull(ltd.[HT1],0) as HT1,isnull(ltd.[HT2],0) as HT2,isnull(ltd.[HT3],0) as HT3,isnull(ltd.[HT4],0) as HT4,isnull(ltd.[HT5],0) as HT5
		,isnull(ltd.[HT6],0) as HT6,isnull(ltd.[HT7],0) as HT7,isnull(ltd.[HT8],0) as HT8,isnull(ltd.[HT9],0) as HT9,isnull(ltd.[HT10],0) as HT10
		,ltd.[HT11],ltd.[HT12],ltd.[HT13],ltd.[HT14],ltd.[HT15]
		,ltd.[HT16],ltd.[HT17],ltd.[HT18],ltd.[HT19],ltd.[HT20]
		
		,ISNULL(cct.wt1,0) as cct_wt1,ISNULL(cct.wt2,0) as cct_wt2,ISNULL(cct.wt3,0) as cct_wt3
		,ISNULL(cct.wt4,0) as cct_wt4,ISNULL(cct.wt5,0) as cct_wt5,ISNULL(cct.wt6,0) as cct_wt6
		,ISNULL(cct.wt7,0) as cct_wt7,ISNULL(cct.wt8,0) as cct_wt8,ISNULL(cct.wt9,0) as cct_wt9
		,ISNULL(cct.wt10,0) as cct_wt10,ISNULL(cct.wt11,0) as cct_wt11,ISNULL(cct.wt12,0) as cct_wt12
		,ISNULL(cct.wt13,0) as cct_wt13,ISNULL(cct.wt14,0) as cct_wt14,ISNULL(cct.wt15,0) as cct_wt15

		,ISNULL(cct.CN_wt3,0) as cct_CN_wt3
		,ISNULL(cct.CN_wt4,0) as cct_CN_wt4,ISNULL(cct.CN_wt5,0) as cct_CN_wt5,ISNULL(cct.CN_wt6,0) as cct_CN_wt6
		,ISNULL(cct.CN_wt7,0) as cct_CN_wt7,ISNULL(cct.CN_wt8,0) as cct_CN_wt8
		,ISNULL(cct.CN_wt10,0) as cct_CN_wt10,ISNULL(cct.CN_wt11,0) as cct_CN_wt11,ISNULL(cct.CN_wt12,0) as cct_CN_wt12
		,ISNULL(cct.CN_wt13,0) as cct_CN_wt13,ISNULL(cct.CN_wt14,0) as cct_CN_wt14,ISNULL(cct.CN_wt15,0) as cct_CN_wt15
		
		,ISNULL(ctv.wt1,0) as ctv_wt1,ISNULL(ctv.wt2,0) as ctv_wt2,ISNULL(ctv.wt3,0) as ctv_wt3
		,ISNULL(ctv.wt4,0) as ctv_wt4,ISNULL(ctv.wt5,0) as ctv_wt5,ISNULL(ctv.wt6,0) as ctv_wt6
		,ISNULL(ctv.wt7,0) as ctv_wt7,ISNULL(ctv.wt8,0) as ctv_wt8,ISNULL(ctv.wt9,0) as ctv_wt9
		,ISNULL(ctv.wt10,0) as ctv_wt10,ISNULL(ctv.wt11,0) as ctv_wt11,ISNULL(ctv.wt12,0) as ctv_wt12
		,ISNULL(ctv.wt13,0) as ctv_wt13,ISNULL(ctv.wt14,0) as ctv_wt14,ISNULL(ctv.wt15,0) as ctv_wt15

		,ISNULL(ctv.CN_wt3,0) as ctv_CN_wt3
		,ISNULL(ctv.CN_wt4,0) as ctv_CN_wt4,ISNULL(ctv.CN_wt5,0) as ctv_CN_wt5,ISNULL(ctv.CN_wt6,0) as ctv_CN_wt6
		,ISNULL(ctv.CN_wt7,0) as ctv_CN_wt7,ISNULL(ctv.CN_wt8,0) as ctv_CN_wt8
		,ISNULL(ctv.CN_wt10,0) as ctv_CN_wt10,ISNULL(ctv.CN_wt11,0) as ctv_CN_wt11,ISNULL(ctv.CN_wt12,0) as ctv_CN_wt12
		,ISNULL(ctv.CN_wt13,0) as ctv_CN_wt13,ISNULL(ctv.CN_wt14,0) as ctv_CN_wt14,ISNULL(ctv.CN_wt15,0) as ctv_CN_wt15
		

		,dmvs.SoLanDMVS_CT,dmvs.ThoiGianDTVS_CT
		,dmvs.SoLanDMVS_TV,dmvs.ThoiGianDTVS_TV
		,pct.PhepHuongLuong as pct_PhepHuongLuong
		--,pct.KhongPhep as pct_KhongPhep
		,pct.KLKhongMatCC as pct_KLKhongMatCC
		--,pct.PhepNam as pct_PhepNam
		--,pct.NghiLe as pct_NghiLe,pct.NgungViec as pct_NgungViec
		--,pct.NghiKhongLuong as pct_NghiKhongLuong,pct.KetHon as pct_KetHon
		--,pct.BoMeMat as pct_BoMeMat
		--,pct.NghiTuan as pct_NghiTuan,pct.CongTac as pct_Congtac
		--,pct.NghiDich as pct_NghiDich
	
		,ptv.PhepHuongLuong as ptv_PhepHuongLuong,ptv.KhongPhep as ptv_KhongPhep
		,ptv.KLKhongMatCC as ptv_KLKhongMatCC,ptv.PhepNam as ptv_PhepNam
		--,ptv.NghiLe as ptv_NghiLe,ptv.NgungViec as ptv_NgungViec
		--,ptv.CongTac as ptv_Congtac,ptv.NghiDich as ptv_NghiDich
	   	  
		,depen.DependentPerson as NguoiPhuThuoc
		,isnull(depen.DependentPerson,0)*4400000 + 11000000 as GiamTruCaNhan
		,CASE
			when datediff(year,empl.BirthDate,@todate) >= 60 then 0
			WHEN IU.SocialInsurance IS NULL THEN 2
			ELSE IU.SocialInsurance END
		AS SocialInsurance
		,CASE
			when datediff(year,empl.BirthDate,@todate) >= 60 then 0
			WHEN IU.UnemploymentInsurance IS NULL THEN 2
			ELSE IU.UnemploymentInsurance
		END AS UnemploymentInsurance
		,CASE
			when datediff(year,empl.BirthDate,@todate) >= 60 then 0
			WHEN IU.HealthInsurance is null 
				then (
						case when ((empl.OfficialDate between @fromdate and @todate) or empl.OfficialDate > @fromdate) and (ISNULL(cct.wt1,0) + isnull(cct.wt9,0) + isnull(pct.PhepHuongLuong,0))/(CASE WHEN empl.DepartmentCode='Production_Soi' THEN 9 ELSE 8 END) < @NgayCongTieuChuan - 14 then 0
							else 1 end
					)
			ELSE IU.HealthInsurance END
		AS HealthInsurance
		,CASE
			WHEN IU.UnionFee is null then 2
			ELSE IU.UnionFee 
		END as UnionFee		
					
	  --,isnull(pn.PhepNamTon,0) as PhepNamTon,isnull(pn.PhepNamDuocHuongDenHienTai,0) as PhepNamDuocHuongDenHienTai, isnull(pn.TongPhepNamDaNghi,0) as TongPhepNamDaNghi
			  
		,CASE
			WHEN KhongThamGiaCongDoan.Employee_ID is null then 0
			ELSE 1
		END as KhongThamGiaCongDoan

		,@BHTNCtyTra as BHTNCtyTra, @BHTNNLDTra as BHTNNLDTra
		,@BHXHCtyDongNguoiNN as BHXHCtyDongNguoiNN, @BHXHCtyTra as BHXHCtyTra
		,@HuuTriTuTuatCTyTra as HuuTriTuTuatCTyTra, @HuuTriTuTuatNLDTra as HuuTriTuTuatNLDTra
		,@LuongCoSo as LuongCoSo		
		,@TienCongDoan as TienCongDoan
		,@CongDoanNLDTra as CongDoanNLDTra, @CongDoanCtyTra as CongDoanCtyTra
		,ndl.Ngay as NgayDoiLuong
		,DATEFROMPARTS(Year(@todate),Month(@todate),15) as ngay15
		,case when isnull(empl.TernimationDate,@todate+1) between @fromdate and @todate and (isnull(cct.wt1,0) + isnull(cct.wt9,0) + isnull(pct.PhepHuongLuong,0)) / (CASE WHEN empl.DepartmentCode='Production_Soi' THEN 9 ELSE 8 END) <= @NgayCongTieuChuan - 14 then 1
				else 0 end as DongBHLuongCu
		,empl.KhuVuc, empl.BankAccount, @NgayApDungTyGia as NgayApDungTyGia, @TyGiaUSD as TyGiaUSD, @LuongTinhBH as LuongTinhBH
		
	from       
	[dbo].[udf_EmployeeFilter]('VN',@fact,@dept,@sect,@team,@pos,@posc,null,isnull(@todate,getdate())) empl
	left join
	[dbo].[udf_BangLuongCoDinh](@todate,null) lcd
	 on empl.Employee_ID=lcd.Employee_ID
	 left join
	[dbo].[udf_BangLuongCoDinh_Cu](@fromdate,@todate,null)lcdCu
	on empl.Employee_ID=lcdCu.Employee_ID
	left join
	[dbo].[udf_BangLuongThayDoiTheoThang](@Month,@Year,null) ltd
	on empl.Employee_ID=ltd.Employee_ID
	left join
	[dbo].[udf_TongHopCong](@fromdate,@todate,3,@UserName) cct
	on empl.Employee_ID=cct.Employee_ID
	left join
	[dbo].[udf_TongHopCong](@fromdate,@todate,2,@UserName) ctv
	on empl.Employee_ID=ctv.Employee_ID
	left join
	[dbo].[udf_TongHopPhep](@fromdate,@todate,3) pct
	on empl.Employee_ID=pct.Employee_ID
	left join
	[dbo].[udf_TongHopPhep](@fromdate,@todate,2) ptv
	on empl.Employee_ID=ptv.Employee_ID
	left join
	dbo.udf_NgayKyHDChinhThuc(@fromdate,@todate,@Employee_ID) nct
	on empl.Employee_ID=nct.Employee_ID
	left join
	HR_EmpNonRegisInsuranceAndUnion IU
	on empl.Employee_ID=IU.Employee_ID and iu.Thang=@Month and iu.Nam=@Year
	left join
	udf_TroCapConNho (@Month, @Year) NuoiCNDuoi6Tuoi
	on empl.Employee_ID=NuoiCNDuoi6Tuoi.Employee_ID
	left join
	[dbo].[udf_QuanLyPhepNam](@year,@todate,'VN',@fact,@dept,@sect,@team,@pos,@posc,null) pn
	on empl.Employee_ID=pn.Employee_ID
	left join
	@dependentPerson depen
	on empl.Employee_ID=depen.Employee_ID
	--left join
	--[dbo].[HR_TerminationAsignment] ta
	--on empl.Employee_ID=ta.Employee_ID and ta.DecisionStatus='Approved'
	--left join
	--SmartBooks_Salary ResignSalary
	--on empl.Employee_ID=ResignSalary.Employee_ID and ResignSalary.[key]='ResignSalary' and TrangThai=1
	--left join
	--SmartBooks_Section sect
	--on empl.SectionCode=sect.Factory_ID+'_'+sect.DepartmentCode+'_'+sect.SectionCode
	left join
	HR_EmployeeRegisMaternityLeave erml
	on empl.Employee_ID=erml.Employee_ID and erml.Fromdate<=@fromdate and erml.ToDate>=@todate and erml.LeaveType_ID='24'
	left join
	@tabDiMuonVeSom dmvs
	on empl.Employee_ID=dmvs.Employee_ID
	--left join
	--@tabTongGioDiMuonVeSomDuocGiamTru tgdmvs
	--on empl.Employee_ID = tgdmvs.Employee_ID
	left join
	@tabDemNgayOT ngayOT
	on empl.Employee_ID=ngayOT.Employee_ID
	left join
	@tabDemNgayBH ngayBH
	on empl.Employee_ID=ngayBH.Employee_ID
	left join
	[dbo].[udf_NgayDoiLuong](@fromdate,@todate) ndl
	on empl.Employee_ID=ndl.Employee_ID
	--left join
	--[dbo].[udf_Position]('VN',1) p
	--on empl.position=p.Code
	left join
	HR_EmpRegisParameter KhongThamGiaCongDoan
	on empl.Employee_ID=KhongThamGiaCongDoan.Employee_ID and ParameterValue='KhongThamGiaCongDoan' and @todate between KhongThamGiaCongDoan.fromdate and KhongThamGiaCongDoan.todate
	--left join
	--udf_TinhCC (@fromdate,@todate,@ChuyenCan,@Employee_ID) tcc
	--on empl.Employee_ID = tcc.Employee_ID
	left join
	udf_TinhTienAn (@fromdate,@todate,@fact,@dept,@sect,@team,@pos,@posc) tta
	on empl.Employee_ID = tta.Employee_ID
	--left join
	--HR_EmployeeRegisPregnant dshcd
	--on empl.Employee_ID = dshcd.Employee_ID and (@fromdate between dshcd.Fromdate and isnull(dshcd.MiscarriageDate,dshcd.ToDate) or (@todate between dshcd.Fromdate and isnull(dshcd.MiscarriageDate,dshcd.ToDate)))
	where	
		empl.StartedDate<= @todate AND ISNULL(empl.TernimationDate,@todate)>=@fromdate
		AND
		(
			(@TypeOfReport=1 AND empl.DepartmentCode IN ('Office_MO','Office_SO') and isnull(empl.Nationality,'Vietnamese') = 'Vietnamese')
			OR (@TypeOfReport=2 AND (empl.DepartmentCode like N'Office_Det%' or empl.DepartmentCode like N'Office_Soi%') and isnull(empl.Nationality,'Vietnamese') = 'Vietnamese')
			OR (@TypeOfReport=3 AND empl.DepartmentCode ='Production_Soi' and isnull(empl.Nationality,'Vietnamese') = 'Vietnamese')
			OR (@TypeOfReport=4 AND empl.DepartmentCode ='Production_Det' and isnull(empl.Nationality,'Vietnamese') = 'Vietnamese')
			or (@TypeOfReport=5 and isnull(empl.Nationality,'Vietnamese') = 'Non-Vietnamese')
		)
	--and isnull(cct.wt1,0) + isnull(cct.wt9,0) + isnull(ctv.wt1,0) + isnull(ctv.wt9,0) + isnull(pct.PhepHuongLuong,0) + isnull(ptv.PhepHuongLuong,0) > 0 
	--or isnull(ltd.HT4,0) + isnull(ltd.HT13,0) + isnull(ltd.HT15,0) + isnull(ltd.HT9,0) + isnull(ltd.HT7,0) > 0 
	--or isnull(ltd.HT16,0) <> 0
	order by  empl.Employee_ID

END
