USE [HR_SET35]
GO
/****** Object:  UserDefinedFunction [dbo].[udf_DieuChinhGioQuetRa]    Script Date: 02/06/2022 2:29:04 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

ALTER FUNCTION [dbo].[udf_DieuChinhGioQuetRa](@QuetRa datetime, @GioTanCa datetime, @SoPhutKhongDuocTinhTangCa int, @SoPhutTrongBlockDuocTinhXuong int, @SoPhutBlock int,@AllowEarlyOut int)
RETURNS datetime
            AS
    BEGIN
		If @QuetRa between DateAdd(HOUR,-4,@GioTanCa) and Dateadd(MINUTE,-61,@GioTanCa) begin
			set @QuetRa = DateAdd(Hour,-4,@GioTanCa)
		end
		return 
			(case when @QuetRa between dateadd(MINUTE,-@AllowEarlyOut,@GioTanCa) and dateadd(MINUTE,@SoPhutKhongDuocTinhTangCa,@GioTanCa) then @GioTanCa else
							(case when isnull(@SoPhutBlock,0)=0 then @QuetRa else
							(case when DATEPART(minute,@QuetRa)%@SoPhutBlock<=@SoPhutTrongBlockDuocTinhXuong then DATEADD(minute,0-DATEPART(minute,@QuetRa)%@SoPhutBlock,@QuetRa) else
							 DATEADD(minute,@SoPhutBlock-DATEPART(minute,@QuetRa)%@SoPhutBlock,@QuetRa)
							end)end)end)
	END



