USE [HR_GWFNV]
GO
/****** Object:  UserDefinedFunction [dbo].[udf_BangPhepTheoNgay]    Script Date: 12/10/2022 8:34:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[udf_BangPhepTheoNgay]
(
	-- Add the parameters for the function here
	--select * from [dbo].[udf_DanhSachNhanVienDuocHuongNghiLe]('2022-05-20','2022-05-20')
	--select * from [dbo].[udf_BangPhepTheoNgay](2,'2022-05-20','2022-05-20',null,null,null,null,null,null,null,null) where Employee_ID = 'WS000284'
	@TypeOfReport int,--2 theo công, 1-- theo giờ quẹt vào
	@fromdate datetime,
	@todate datetime,
	@fact nvarchar(50),
	@dept nvarchar(50),
	@sect nvarchar(50),
	@team nvarchar(50),
	@pos nvarchar(50),
	@posc nvarchar(50),
	@emp nvarchar(50),
	@ListOfLeaveType_ID varchar(100)
)
RETURNS  @rtnBangPhepTheoNgay TABLE 
(
    -- columns returned by the function
    [Employee_ID] nvarchar(50),[LeaveType_ID] nvarchar(50),DateLeave datetime,HourLeave float,Remark_ varchar(50),primary key ([Employee_ID],DateLeave)
)
AS
BEGIN
	declare @NgayHienTai as datetime
	set @NgayHienTai=DATEFROMPARTS(year(getdate()),month(getdate()),day(getdate()))
	declare @SoNgaySauKhiMangBauDuocHuongThaiSan int
	select @SoNgaySauKhiMangBauDuocHuongThaiSan=[Value] from [dbo].[SetUp] where ID='SoNgaySauKhiMangBauDuocHuongThaiSan'
	declare @tabCong table(Employee_ID nvarchar(50), Ngay datetime primary key (Employee_ID, Ngay))
	if @TypeOfReport=1 begin
		insert into @tabCong
		select Employee_ID,AccessDate from udf_TinhCong_QuetVao(@fromdate,@todate,@SoNgaySauKhiMangBauDuocHuongThaiSan,@fact,@dept,@sect,@team,@pos,@posc,@emp)
	end else begin
		insert into @tabCong
		select distinct Employee_ID,Ngay from HR_WTDaily where ngay between @fromdate and @todate
	end
	insert into @rtnBangPhepTheoNgay (Employee_ID,LeaveType_ID,DateLeave,HourLeave)
	select empl.Employee_ID
	,(case when pheple.TypeOfLeave is not null then pheple.TypeOfLeave--#CHUNGLOGIC
			when phep.LeaveType_ID is not null then phep.LeaveType_ID
			when erl.LeaveType_ID is not null then erl.LeaveType_ID
			when ngay.Date_<=DATEFROMPARTS(year(getdate()),month(getdate()),day(getdate())) and cong.Employee_ID is null then '18.' --nghỉ không phép
		end) as LeaveType_ID
	,ngay.Date_ as DateLeave
	,case when pheple.Employee_ID is not null then 8--#CHUNGLOGIC
			when phep.Employee_ID is not null then case when phep.LeaveType_ID in (31,32) then 4 else 8 end
			when erl.Employee_ID is not null then erl.HourLeave
			when ngay.Date_<=DATEFROMPARTS(year(getdate()),month(getdate()),day(getdate())) and cong.Employee_ID is null then 8
	end as HourLeave
	from
	[dbo].[udf_BangThoiGian](@fromdate,@todate) ngay
	left join
	SmartBooks_Employee empl
	on ngay.Date_>=empl.StartedDate and (empl.ternimationdate is null or empl.ternimationdate>=ngay.Date_)
	left join
	--[dbo].[udf_TraVeBangTransfer_Horizontal](@todate,@emp)tf
	--on empl.Employee_ID=tf.Employee_ID
	--left join
	udf_BangPhep(@fromdate,@todate,@emp) phep
	on ngay.Date_ between phep.fromdate and phep.todate and phep.Employee_ID=empl.Employee_ID
	left join
	[dbo].[udf_DanhSachNhanVienDuocHuongNghiLe](@fromdate,@todate) PhepLe
	on ngay.Date_=pheple.[H_date] and PhepLe.Employee_ID=empl.Employee_ID
	left join
	HR_DangKyPhepTheoGio erl
	on ngay.Date_=erl.DateLeave and erl.Employee_ID=empl.Employee_ID
	left join
	@tabCong cong
	on ngay.Date_=cong.Ngay and empl.Employee_ID=cong.Employee_ID
	left join
	[dbo].[HR_WorkingDaySpecial] wds
	on empl.Employee_ID=wds.Employee_ID and ngay.Date_=wds.WorkingDate
	where 
	--(pheple.Employee_ID is not null
	--	or
	--	(phep.LeaveType_ID is not null and (datename(weekday,ngay.Date_)<>'Sunday' or datename(weekday,ngay.Date_)='Sunday' and phep.LeaveType_ID='53'))
	--	or erl.Employee_ID is not null
	--	) and (
	--			(case when isnull(@ListOfLeaveType_ID,'')='' then '' else phep.LeaveType_ID end) in (select data from [dbo].[Split](isnull(@ListOfLeaveType_ID,''),','))
	--			or (case when isnull(@ListOfLeaveType_ID,'')='' then '' else PhepLe.TypeOfLeave end) in (select data from [dbo].[Split](isnull(@ListOfLeaveType_ID,''),','))
	--			)
	/*PhepLe.Employee_ID is not null or*/ ((datename(weekday,ngay.Date_)<>'Sunday' and isnull(wds.WorkingDayType,'')<>'Sun') or (datename(weekday,ngay.Date_)='Sunday' and isnull(wds.WorkingDayType,'')<>''))
	and
	(
		(case when isnull(@ListOfLeaveType_ID,'')='' then '' else phep.LeaveType_ID end) in (select data from [dbo].[Split](isnull(@ListOfLeaveType_ID,''),','))
		or (case when isnull(@ListOfLeaveType_ID,'')='' then '' else PhepLe.TypeOfLeave end) in (select data from [dbo].[Split](isnull(@ListOfLeaveType_ID,''),','))
		or (case when isnull(@ListOfLeaveType_ID,'')='' then '' else erl.TypeOfLeave end) in (select data from [dbo].[Split](isnull(@ListOfLeaveType_ID,''),','))
		or (case when isnull(@ListOfLeaveType_ID,'')='' then '' else (case when cong.Employee_ID is null and phep.LeaveType_ID is null and PhepLe.TypeOfLeave is null and erl.TypeOfLeave is null then '14' else '' end) end) in (select data from [dbo].[Split](isnull(@ListOfLeaveType_ID,''),','))

	)
	and isnull(empl.Nationality,'')<>'Non-Vietnamese'
	and (case when @Emp is null or @emp='' then '' else empl.Employee_ID end)=(case when @emp is null or @emp='' then '' else @emp end)
	and (isnull(phep.LeaveType_ID,'')<>'' or isnull(PhepLe.TypeOfLeave,'')<>'' or isnull(erl.TypeOfLeave,'')<>'' or (case when cong.Employee_ID is null and phep.LeaveType_ID is null and PhepLe.TypeOfLeave is null and erl.TypeOfLeave is null then '14' else '' end)='14')
	and
		(case when pheple.TypeOfLeave is not null then pheple.TypeOfLeave--#CHUNGLOGIC
			when phep.LeaveType_ID is not null then phep.LeaveType_ID
			when erl.LeaveType_ID is not null then erl.LeaveType_ID
			when ngay.Date_<=DATEFROMPARTS(year(getdate()),month(getdate()),day(getdate())) and cong.Employee_ID is null then '14' --nghỉ không phép
		end) is not null
	
		--xóa phép tự nhập như code 18
	delete @rtnBangPhepTheoNgay where DateLeave>@NgayHienTai and LeaveType_ID like '%.'
	-- Cập nhật nghỉ không phép tự động 18_ thành 18
	update @rtnBangPhepTheoNgay set LeaveType_ID=(case when LeaveType_ID like '%.' then replace(LeaveType_ID,'.','') else LeaveType_ID end),Remark_=LeaveType_ID
	-- Return the result of the function

	RETURN

END


