USE [HR_SET35]
GO
/****** Object:  UserDefinedFunction [dbo].[udf_DieuChinhGioQuetVao]    Script Date: 02/06/2022 2:15:59 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

ALTER FUNCTION [dbo].[udf_DieuChinhGioQuetVao](@QuetVao datetime, @GioVaoCa datetime, @SoPhutMuonDuocTinhDungGio int, @SoPhutTrongBlockDuocTinhXuong int, @SoPhutBlock int)
RETURNS datetime
            AS
    BEGIN
		If @QuetVao between Dateadd(MINUTE,61,@GioVaoCa) and DateAdd(Hour,4,@GioVaoCa) begin
			set @QuetVao = DateAdd(Hour,4,@GioVaoCa)
		end
		return 
			(case when @QuetVao < dateadd(second,59,@GioVaoCa) then @GioVaoCa 
					else
							(case when @QuetVao <= DATEADD(minute,@SoPhutMuonDuocTinhDungGio,@GioVaoCa) then @GioVaoCa else
							(case when isnull(@SoPhutBlock,0)=0 then @QuetVao else
							(case when DATEPART(minute,@QuetVao)%@SoPhutBlock<=@SoPhutTrongBlockDuocTinhXuong then DATEADD(minute,0-DATEPART(minute,@QuetVao)%@SoPhutBlock,@QuetVao) else
							 DATEADD(minute,@SoPhutBlock-DATEPART(minute,@QuetVao)%@SoPhutBlock,@QuetVao)
							end)end)end)end)
	END

 




