USE [HR_GWFNV]
GO
/****** Object:  UserDefinedFunction [dbo].[udf_QuanLyPhepNam]    Script Date: 23/09/2022 1:39:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER FUNCTION [dbo].[udf_QuanLyPhepNam]
(	
	-- Add the parameters for the function here
	--select * from smartbooks_employee
	--select * from udf_QuanLyPhepNam(2022,'2022-08-31','VN',null,null,null,null,null,null,null) where Employee_ID = '22082234'
	@year int,
	@NgayChot datetime,
	@Lan nvarchar(50),
	@fact nvarchar(50),
	@dept nvarchar(50),
	@sect nvarchar(50),
	@team nvarchar(50),
	@pos nvarchar(50),
	@posc nvarchar(50),
	@emp nvarchar(50)
)
RETURNS  @rtnQuanLyPhepNam TABLE 
(
    -- columns returned by the function
    [Employee_ID] nvarchar(50),PhepNamDuocHuong Float,PhepNamTon float,TongPhepNamDaNghi float,PhepNamDuocHuongDenHienTai_ChuaLamTron float,PhepNamDuocHuongDenHienTai float, PhepNamThamNienTinhDenCuoiNam float, PhepNamNNDHTinhDenCuoiNam float, ComStartedDate_PhepNam datetime, PhepNamConLaiDenHienTai float, PhepNamTonDauDauThang float, PhepNamDuocHuongDenCuoiThangTruoc float, TongPhepNamDaNghiDenCuoiThangTruoc float, PhepNamNghiTrongThang float, PhepNamPhatSinh float, Test float, test2 float, test3 datetime, PhepThamNien float, primary key ([Employee_ID])
)
AS
BEGIN
	-- Declare the return variable here
	DECLARE @NgayDauNam datetime, @NgayCuoiNam datetime, @NgayHienTai datetime, @NgayCuoiThangTruoc datetime
	set @NgayDauNam=cast(@year as varchar)+'-1-1'
	set @NgayCuoiNam=DATEADD(year,1,@NgayDauNam)-1
	set @NgayHienTai=GETDATE() --DATEFROMPARTS(DATEPART(year,getdate()),DATEPART(MONTH,getdate()),DATEPART(day,getdate()))
	if @NgayChot is not null begin
		set @NgayHienTai=@NgayChot
	end else begin
		if @NgayHienTai>@NgayCuoiNam begin
			set @NgayHienTai=@NgayCuoiNam
		end
	end
	set @NgayCuoiThangTruoc = EOMONTH(DateAdd(Month,-1,@NgayHienTai))

	declare @tabPhepDaNghiTheoNgay table(Employee_ID nvarchar(50),TongPhepNamDaNghi float, TongPhepNamDaNghiDenCuoiThangTruoc float, TongKhongPhepDaNghi float primary key (Employee_ID))
	insert into @tabPhepDaNghiTheoNgay
	select Employee_ID,sum(case when bptn.LeaveType_ID in ('31','32') or isnull(lt.PhepNam,0) = 1 then HourLeave else 0 end)/8.0 as TongPhepNamDaNghi, sum(case when (bptn.LeaveType_ID in ('31','32') or isnull(lt.PhepNam,0) = 1) and bptn.DateLeave <= @NgayCuoiThangTruoc then HourLeave else 0 end)/8.0 as TongPhepNamDaNghiDenCuoiThangTruoc,sum(case when bptn.LeaveType_ID='14' and DateLeave>='2021-2-1' then HourLeave else 0 end)/8.0 as TongKhongPhepDaNghi
		from [dbo].[udf_BangPhepTheoNgay](2,@NgayDauNam,@NgayHienTai,@fact,@dept,@sect,@team,@pos,@posc,@emp,null) bptn
		left join
		SmartBooks_LeaveType lt
		on bptn.LeaveType_ID = lt.LeaveType_ID
		group by Employee_ID 
	--select 2/12.0*8
	-- Add the T-SQL statements to compute the return value here	
	
	declare @empl table(Employee_ID nvarchar(50),NamThamNien float, NamThamNienCuoiNam float,ThangThamNienLe float,ComStartedDate datetime,ComStartedDate_PhepNam datetime,TernimationDate datetime,TernimationDate_PhepNam datetime,ThangTinhLuong datetime, NgayKyHDChinhThuc datetime, NgayPhepNam int primary key(Employee_ID))
	insert into @empl
	select empl.employee_id,datediff(day,OfficialDate,@NgayHienTai)/365 as NamThamNien
	, datediff(day,OfficialDate,@NgayCuoiNam)/365 as NamThamNienCuoiNam
	,(datediff(day,nkhdct.NgayKyHDChinhThuc,@NgayCuoiNam)-DATEDIFF(year,nkhdct.NgayKyHDChinhThuc,@NgayCuoiNam)*365)/365.0*12 as ThangThamNienLe
	,ComStartedDate
	,(case when day(nkhdct.NgayKyHDChinhThuc)<15 then nkhdct.NgayKyHDChinhThuc else dateadd(month,1,nkhdct.NgayKyHDChinhThuc) end) as ComStartedDate_PhepNam--Ngày vào để tính phép năm
	,TernimationDate
	,(case when day(TernimationDate)<=14 then dateadd(month,-1,TernimationDate) else TernimationDate end) as TernimationDate_PhepNam--Ngày thôi việc tính pn
	,ta.ThangTinhLuong, nkhdct.NgayKyHDChinhThuc, [dbo].[udf_PhepNamNNDH](@NgayHienTai,empl.Employee_ID,Datefromparts(year(@NgayHienTai),month(empl.OfficialDate),day(empl.OfficialDate)))
	from
	udf_EmployeeFilter ('VN',@fact,@dept,@sect,@team,@pos,@posc,@emp,@NgayChot) empl
	left join
	HR_TerminationAsignment ta
	on empl.Employee_ID=ta.Employee_ID
	left join
	udf_NgayKyHDChinhThuc ('2000-01-01',@NgayHienTai,@emp) nkhdct
	on nkhdct.Employee_ID = empl.Employee_ID
	where (case when isnull(@emp,'')='' then '' else empl.Employee_ID end)=isnull(@emp,'')

	insert into @rtnQuanLyPhepNam ([Employee_ID],PhepNamDuocHuong,PhepNamTon,TongPhepNamDaNghi,PhepNamDuocHuongDenHienTai_ChuaLamTron,PhepNamThamNienTinhDenCuoiNam,PhepNamNNDHTinhDenCuoiNam, ComStartedDate_PhepNam, PhepNamDuocHuongDenCuoiThangTruoc, TongPhepNamDaNghiDenCuoiThangTruoc, Test, test2, test3, PhepThamNien)
	select empl.Employee_ID,
		round(case when @NgayHienTai < empl.NgayKyHDChinhThuc then 0 else
		(
			pntt.jan + pntt.feb + pntt.mar + pntt.apr + pntt.may + pntt.jun + pntt.jul + pntt.aug + pntt.sep + pntt.oct + pntt.nov + pntt.[dec] + case when @Year = 2022 and Year(empl.ComStartedDate) < 2022 then 3 when empl.ComStartedDate between '2022-01-01' and '2022-03-31' then datediff(month,empl.NgayKyHDChinhThuc,'2022-03-31') else 0 end
		)
		 + (case when day(empl.NgayKyHDChinhThuc) <= 14 and Year(empl.NgayKyHDChinhThuc) = @year then (case when empl.NgayKyHDChinhThuc between '2022-01-01' and '2022-03-31' then 0 else 1 end) else (case when empl.ComStartedDate = empl.NgayKyHDChinhThuc then 1 else 0 end) end) + case when isnull(empl.NgayPhepNam,12) = 12 then floor(isnull(empl.NamThamNienCuoiNam,0)/5.0) else 0 end + (case when Year(empl.NgayKyHDChinhThuc) <> @year then isnull(empl.NgayPhepNam,12) - 12 else 0 end)
		 end
		--+(case when hdts.[Type] in ('HD1NAM_2','HDVTH') then isnull(nndh.SoPhepNamNNDH,0) else 0 end) end --Dang lam den day
		,0) as PhepNamDuocHuong
		,dvr.DaysRemain as PhepNamTon
		,isnull(pndanghi.TongPhepNamDaNghi,0) as TongPhepNamDaNghi
		,case when @NgayHienTai < empl.NgayKyHDChinhThuc then 0 else 
		(
			(case when @NgayHienTai > cast(@year as varchar) + '-1-1' then pntt.jan else 0 end) + (case when @NgayHienTai > cast(@year as varchar) + '-2-1' then pntt.feb else 0 end) + (case when @NgayHienTai > cast(@year as varchar) + '-3-1' then pntt.mar else 0 end)
			+ (case when @NgayHienTai > cast(@year as varchar) + '-4-1' then pntt.apr else 0 end) + (case when @NgayHienTai > cast(@year as varchar) + '-5-1' then pntt.may else 0 end) + (case when @NgayHienTai > cast(@year as varchar) + '-6-1' then pntt.jun else 0 end)
			+ (case when @NgayHienTai > cast(@year as varchar) + '-7-1' then pntt.jul else 0 end) + (case when @NgayHienTai > cast(@year as varchar) + '-8-1' then pntt.aug else 0 end) + (case when @NgayHienTai > cast(@year as varchar) + '-9-1' then pntt.sep else 0 end)
			+ (case when @NgayHienTai > cast(@year as varchar) + '-10-1' then pntt.oct else 0 end) + (case when @NgayHienTai > cast(@year as varchar) + '-11-1' then pntt.nov else 0 end) + (case when @NgayHienTai > cast(@year as varchar) + '-12-1' then pntt.[dec] else 0 end)
		)
			/12.0*12 + (case when day(empl.NgayKyHDChinhThuc) <= 14 and Year(empl.NgayKyHDChinhThuc) = @year and empl.NgayKyHDChinhThuc not between '2022-01-01' and '2022-03-31' then 1 else (case when empl.ComStartedDate = empl.NgayKyHDChinhThuc then 1 else 0 end) end) + (case when Month(empl.NgayKyHDChinhThuc) <= month(@NgayHienTai) and Year(empl.NgayKyHDChinhThuc) <> @year then (case when @year = 2022 and Month(empl.NgayKyHDChinhThuc) <=3 then 0 else isnull(empl.NgayPhepNam,12) - 12 end) + (case when isnull(empl.NgayPhepNam,12) = 12 then floor(isnull(empl.NamThamNienCuoiNam,0)/5.0) else 0 end) else 0 end) + (case when Month(empl.NgayKyHDChinhThuc) <= month(@NgayHienTai) and empl.NgayKyHDChinhThuc > '2022-03-31' and datediff(MONTH,empl.NgayKyHDChinhThuc,@NgayHienTai) >= 12 then (case when isnull(empl.NgayPhepNam,12) = 12 then 1 when isnull(empl.NgayPhepNam,12) > 12 then -1 else 0 end) else 0 end) 
			end
			as PhepNamDuocHuongDenHienTai_ChuaLamTron
		,case when isnull(empl.NgayPhepNam,0) = 12 then floor(isnull(empl.NamThamNienCuoiNam,0)/5.0) else 0 end as PhepNamThamNienTinhDenCuoiNam
		,(case when Month(empl.NgayKyHDChinhThuc) <= month(@NgayHienTai) then isnull(empl.NgayPhepNam,12) - 12 else 0 end) as PhepNamNNDHTinhDenCuoiNam
		,empl.ComStartedDate_PhepNam
		,Round(case when @NgayCuoiThangTruoc < empl.NgayKyHDChinhThuc then 0 else 
			(
				(case when @NgayCuoiThangTruoc > cast(@year as varchar) + '-1-1' then pntt.jan else 0 end) + (case when @NgayCuoiThangTruoc > cast(@year as varchar) + '-2-1' then pntt.feb else 0 end) + (case when @NgayCuoiThangTruoc > cast(@year as varchar) + '-3-1' then pntt.mar else 0 end)
				+ (case when @NgayCuoiThangTruoc > cast(@year as varchar) + '-4-1' then pntt.apr else 0 end) + (case when @NgayCuoiThangTruoc > cast(@year as varchar) + '-5-1' then pntt.may else 0 end) + (case when @NgayCuoiThangTruoc > cast(@year as varchar) + '-6-1' then pntt.jun else 0 end)
				+ (case when @NgayCuoiThangTruoc > cast(@year as varchar) + '-7-1' then pntt.jul else 0 end) + (case when @NgayCuoiThangTruoc > cast(@year as varchar) + '-8-1' then pntt.aug else 0 end) + (case when @NgayCuoiThangTruoc > cast(@year as varchar) + '-9-1' then pntt.sep else 0 end)
				+ (case when @NgayCuoiThangTruoc > cast(@year as varchar) + '-10-1' then pntt.oct else 0 end) + (case when @NgayCuoiThangTruoc > cast(@year as varchar) + '-11-1' then pntt.nov else 0 end) + (case when @NgayCuoiThangTruoc > cast(@year as varchar) + '-12-1' then pntt.[dec] else 0 end)
			)
				/12.0*12 + (case when day(empl.NgayKyHDChinhThuc) <= 14 and Year(empl.NgayKyHDChinhThuc) = @year and empl.NgayKyHDChinhThuc not between '2022-01-01' and '2022-03-31' then 1 else (case when empl.ComStartedDate = empl.NgayKyHDChinhThuc then 1 else 0 end) end) + (case when Month(empl.NgayKyHDChinhThuc) <= month(@NgayCuoiThangTruoc) and Year(empl.NgayKyHDChinhThuc) <> @year then (case when @year = 2022 and Month(empl.NgayKyHDChinhThuc) <=3 then 0 else isnull(empl.NgayPhepNam,12) - 12 end) + (case when isnull(empl.NgayPhepNam,12) = 12 then floor(isnull(empl.NamThamNienCuoiNam,0)/5.0) else 0 end) else 0 end) + (case when Month(empl.NgayKyHDChinhThuc) <= month(@NgayCuoiThangTruoc) and empl.NgayKyHDChinhThuc > '2022-03-31' and datediff(MONTH,empl.NgayKyHDChinhThuc,@NgayCuoiThangTruoc) >= 12 then (case when isnull(empl.NgayPhepNam,12) = 12 then 1 when isnull(empl.NgayPhepNam,12) > 12 then -1 else 0 end) else 0 end) 
				--(case when Month(empl.NgayKyHDChinhThuc) <= month(@NgayCuoiThangTruoc) then (case when day(empl.NgayKyHDChinhThuc) <= 14 and Year(empl.NgayKyHDChinhThuc) = @year and empl.NgayKyHDChinhThuc not between '2022-01-01' and '2022-03-31' then 1 else (case when empl.ComStartedDate = empl.NgayKyHDChinhThuc then 1 else 0 end) end) (case when @year = 2022 and month(empl.NgayKyHDChinhThuc) <= 3 then 0 else isnull(empl.NgayPhepNam,12) - 12 end)  + (case when isnull(empl.NgayPhepNam,12) = 12 then floor(isnull(empl.NamThamNienCuoiNam,0)/5.0) else 0 end) else 0 end) + (case when Month(empl.NgayKyHDChinhThuc) <= month(@NgayCuoiThangTruoc) and empl.NgayKyHDChinhThuc > '2022-03-31' and datediff(MONTH,empl.NgayKyHDChinhThuc,@NgayHienTai) >= 12 then (case when isnull(empl.NgayPhepNam,12) = 12 then 1 when  isnull(empl.NgayPhepNam,12) > 12 then -1 else 0 end) else 0 end) 
			end
		,0)
			as PhepNamDuocHuongDenCuoiThangTruoc
		,pndanghi.TongPhepNamDaNghiDenCuoiThangTruoc
		, (case when Month(empl.NgayKyHDChinhThuc) <= month(@NgayHienTai) then (case when @year = 2022 and Month(empl.NgayKyHDChinhThuc) <=3 then 0 else isnull(empl.NgayPhepNam,12) - 12 end) + (case when isnull(empl.NgayPhepNam,12) = 12 then floor(isnull(empl.NamThamNienCuoiNam,0)/5.0) else 0 end) else 0 end) as Test
		,empl.NgayPhepNam as Test2
		,empl.NgayKyHDChinhThuc as test3
		,floor(isnull(empl.NamThamNienCuoiNam,0)/5.0) as PhepThamNien
	from
	@empl empl
	left join
	@tabPhepDaNghiTheoNgay pndanghi
	on empl.Employee_ID=pndanghi.Employee_ID
	left join
	HR_EmployeeRegisMaternityLeave ermlSending
	on empl.Employee_ID=ermlSending.Employee_ID and ermlSending.LeaveType_ID='28' and ermlSending.Fromdate between @NgayDauNam and @NgayCuoiNam
	left join
	HR_DayVacationRemain dvr
	on empl.Employee_ID=dvr.Employee_ID and dvr.[Year]=@year-1
	left join
	[dbo].[udf_PhepNangNhocDocHai](@NgayDauNam,@NgayHienTai,@fact,@dept,@sect,@team,@pos,@posc,@emp) nndh
	on empl.Employee_ID=nndh.Employee_ID
	/*left join
	[dbo].[udf_HopDongTuSinh]('1990-01-01',@NgayHienTai,1,@Lan,@fact,@dept,@sect,@team,@pos,@posc,@emp) hdts
	on empl.Employee_ID=hdts.Employee_ID and @NgayHienTai between hdts.CL_StartDate and isnull(hdts.CL_ExpiredDate,dateadd(year,100,hdts.CL_StartDate)) and hdts.Type <> 'PLHD'*/
	left join
	udf_PhepNamTheoThang (@year,@LAN,@fact,@dept,@sect,@team,@pos,@posc,@emp,@NgayCuoiNam) pntt
	on empl.Employee_ID = pntt.Employee_ID
	/*left join
	SmartBooks_Contract sc
	on hdts.Contract_ID = sc.Contract_ID*/
	where empl.ComStartedDate<=@NgayCuoiNam and (empl.TernimationDate is null or empl.TernimationDate>@NgayDauNam)

	-- update cột làm tròn
	update @rtnQuanLyPhepNam set PhepNamDuocHuongDenHienTai=ROUND(PhepNamDuocHuongDenHienTai_ChuaLamTron,0)
	update @rtnQuanLyPhepNam set PhepNamConLaiDenHienTai = PhepNamDuocHuongDenHienTai - TongPhepNamDaNghi + isnull(PhepNamTon,0)
	update @rtnQuanLyPhepNam set PhepNamTonDauDauThang = PhepNamDuocHuongDenCuoiThangTruoc - TongPhepNamDaNghiDenCuoiThangTruoc + isnull(PhepNamTon,0)
	update @rtnQuanLyPhepNam set PhepNamNghiTrongThang = TongPhepNamDaNghi - TongPhepNamDaNghiDenCuoiThangTruoc
	update @rtnQuanLyPhepNam set PhepNamPhatSinh = PhepNamConLaiDenHienTai + PhepNamNghiTrongThang - PhepNamTonDauDauThang
	-- Return the result of the function
	RETURN

END