USE [HR_GWFNV]
GO
/****** Object:  UserDefinedFunction [dbo].[udf_PhepNamTheoThang]    Script Date: 11/10/2022 2:35:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER function [dbo].[udf_PhepNamTheoThang]
(
	@year int,
	@Lan nvarchar(50),
	@fact nvarchar(50),
	@dept nvarchar(50),
	@sect nvarchar(50),
	@team nvarchar(50),
	@pos nvarchar(50),
	@posc nvarchar(50),
	@emp nvarchar(50),
	@Date datetime
)
returns @rtnPhepNamTheoThang table
( Employee_ID nvarchar(50), jan float, feb float, mar float, apr float, may float, jun float, jul float, aug float, sep float, oct float, nov float, [dec] float, primary key(Employee_ID))
as
begin
	Declare @FirstOfJan datetime, @EndOfJan datetime, @FirstOfFeb datetime, @EndOfFeb datetime, @FirstOfMar datetime, @EndOfMar datetime, @FirstOfApr datetime, @EndOfApr datetime, @FirstOfMay datetime, @EndOfMay datetime, @FirstOfJun datetime, @EndOfJun datetime
			, @FirstOfJul datetime, @EndOfJul datetime, @FirstOfAug datetime, @EndOfAug datetime, @FirstOfSep datetime, @EndOfSep datetime, @FirstOfOct datetime, @EndOfOct datetime, @FirstOfNov datetime, @EndOfNov datetime, @FirstOfDec datetime, @EndOfDec datetime
	
	set @FirstOfJan = DATEFROMPARTS(@year, 1, 1)
	set @EndOfJan = EOMONTH(@FirstOfJan,0)
	set @FirstOfFeb = DATEFROMPARTS(@year, 2, 1)
	set @EndOfFeb = EOMONTH(@FirstOfFeb,0)
	set @FirstOfMar = DATEFROMPARTS(@year, 3, 1)
	set @EndOfMar = EOMONTH(@FirstOfMar,0)
	set @FirstOfApr = DATEFROMPARTS(@year, 4, 1)
	set @EndOfApr = EOMONTH(@FirstOfApr,0)
	set @FirstOfMay = DATEFROMPARTS(@year, 5, 1)
	set @EndOfMay = EOMONTH(@FirstOfMay,0)
	set @FirstOfJun = DATEFROMPARTS(@year, 6, 1)
	set @EndOfJun = EOMONTH(@FirstOfJun,0)
	set @FirstOfJul = DATEFROMPARTS(@year, 7, 1)
	set @EndOfJul = EOMONTH(@FirstOfJul,0)
	set @FirstOfAug = DATEFROMPARTS(@year, 8, 1)
	set @EndOfAug = EOMONTH(@FirstOfAug,0)
	set @FirstOfSep = DATEFROMPARTS(@year, 9, 1)
	set @EndOfSep = EOMONTH(@FirstOfSep,0)
	set @FirstOfOct = DATEFROMPARTS(@year, 10, 1)
	set @EndOfOct = EOMONTH(@FirstOfOct,0)
	set @FirstOfNov = DATEFROMPARTS(@year, 11, 1)
	set @EndOfNov = EOMONTH(@FirstOfNov,0)
	set @FirstOfDec = DATEFROMPARTS(@year, 12, 1)
	set @EndOfDec = EOMONTH(@FirstOfDec,0)

	--select bptn.*, lt.isLeave_nonPay from udf_BangPhepTheoNgay ('2021-4-1','2021-4-30',null,null,null,null,null,null,'HT000087',null) bptn left join SmartBooks_LeaveType lt on bptn.LeaveType_ID = lt.LeaveType_ID
	--select * from udf_PhepNamTheoThang (2022,'VN',null,null,null,null,null,null,null,GETDATE()) where Employee_ID = '17120662'

	insert into @rtnPhepNamTheoThang
	select empl.Employee_ID
			, case when @year = 2022 then 0 when isnull(nkhdct.NgayKyHDChinhThuc,@FirstOfJan) > @EndOfJan /*@FirstOfJan and @EndOfJan and day(isnull(nkhdct.NgayKyHDChinhThuc,@FirstOfJan)) >= 15*/ then 0 when dbo.udf_CountDayExceptSunday(@FirstOfJan,@EndOfJan) - 14 - (case when empl.StartedDate > @FirstOfJan then dbo.udf_CountDayExceptSunday(@FirstOfJan, empl.StartedDate - 1) else 0 end) - (case when isnull(empl.TernimationDate, @EndOfDec) < @EndOfJan then dbo.udf_CountDayExceptSunday(empl.TernimationDate, @EndOfJan) else 0 end) - sum(case when (ptn.LeaveType_ID not in ('11','19','50','58','24') and ptn.DateLeave between @FirstOfJan and @EndOfJan) then isnull(ptn.HourLeave,0)/8.0 else 0 end) >= 0 then 1 else 0 end as jan
			, case when @year = 2022 then 0 when isnull(nkhdct.NgayKyHDChinhThuc,@FirstOfJan) > @EndOfFeb /*@FirstOfFeb and @EndOfApr and day(isnull(nkhdct.NgayKyHDChinhThuc,@FirstOfFeb)) >= 15*/ then 0 when dbo.udf_CountDayExceptSunday(@FirstOfFeb,@EndOfFeb) - 14 - (case when empl.StartedDate > @FirstOfFeb then dbo.udf_CountDayExceptSunday(@FirstOfFeb, empl.StartedDate - 1) else 0 end) - (case when isnull(empl.TernimationDate, @EndOfDec) < @EndOfFeb then dbo.udf_CountDayExceptSunday(empl.TernimationDate, @EndOfFeb) else 0 end) - sum(case when (ptn.LeaveType_ID not in ('11','19','50','58','24') and ptn.DateLeave between @FirstOfFeb and @EndOfFeb) then isnull(ptn.HourLeave,0)/8.0 else 0 end) >= 0 then 1 else 0 end as feb
			, case when @year = 2022 then 0 when isnull(nkhdct.NgayKyHDChinhThuc,@FirstOfJan) > @EndOfMar /*@FirstOfMar and @EndOfApr and day(isnull(nkhdct.NgayKyHDChinhThuc,@FirstOfMar)) >= 15*/ then 0 when dbo.udf_CountDayExceptSunday(@FirstOfMar,@EndOfMar) - 14 - (case when empl.StartedDate > @FirstOfMar then dbo.udf_CountDayExceptSunday(@FirstOfMar, empl.StartedDate - 1) else 0 end) - (case when isnull(empl.TernimationDate, @EndOfDec) < @EndOfMar then dbo.udf_CountDayExceptSunday(empl.TernimationDate, @EndOfMar) else 0 end) - sum(case when (ptn.LeaveType_ID not in ('11','19','50','58','24') and ptn.DateLeave between @FirstOfMar and @EndOfMar) then isnull(ptn.HourLeave,0)/8.0 else 0 end) >= 0 then 1 else 0 end as mar
			, case when isnull(nkhdct.NgayKyHDChinhThuc,@FirstOfJan) > @EndOfApr /*@FirstOfApr and @EndOfApr and day(isnull(nkhdct.NgayKyHDChinhThuc,@FirstOfApr)) >= 15*/ then 0 when dbo.udf_CountDayExceptSunday(@FirstOfApr,@EndOfApr) - 14 - (case when empl.StartedDate > @FirstOfApr then dbo.udf_CountDayExceptSunday(@FirstOfApr, empl.StartedDate - 1) else 0 end) - (case when isnull(empl.TernimationDate, @EndOfDec) < @EndOfApr then dbo.udf_CountDayExceptSunday(empl.TernimationDate, @EndOfApr) else 0 end) - sum(case when (ptn.LeaveType_ID not in ('11','19','50','58','24') and ptn.DateLeave between @FirstOfApr and @EndOfApr) then isnull(ptn.HourLeave,0)/8.0 else 0 end) >= 0 then 1 else 0 end as apr
			, case when isnull(nkhdct.NgayKyHDChinhThuc,@FirstOfJan) > @EndOfMay /*@FirstOfMay and @EndOfMay and day(isnull(nkhdct.NgayKyHDChinhThuc,@FirstOfMay)) >= 15*/ then 0 when dbo.udf_CountDayExceptSunday(@FirstOfMay,@EndOfMay) - 14 - (case when empl.StartedDate > @FirstOfMay then dbo.udf_CountDayExceptSunday(@FirstOfMay, empl.StartedDate - 1) else 0 end) - (case when isnull(empl.TernimationDate, @EndOfDec) < @EndOfMay then dbo.udf_CountDayExceptSunday(empl.TernimationDate, @EndOfMay) else 0 end) - sum(case when (ptn.LeaveType_ID not in ('11','19','50','58','24') and ptn.DateLeave between @FirstOfMay and @EndOfMay) then isnull(ptn.HourLeave,0)/8.0 else 0 end) >= 0 then 1 else 0 end as may
			, case when isnull(nkhdct.NgayKyHDChinhThuc,@FirstOfJan) > @EndOfJun /*@FirstOfJun and @EndOfJun and day(isnull(nkhdct.NgayKyHDChinhThuc,@FirstOfJun)) >= 15*/ then 0 when dbo.udf_CountDayExceptSunday(@FirstOfJun,@EndOfJun) - 14 - (case when empl.StartedDate > @FirstOfJun then dbo.udf_CountDayExceptSunday(@FirstOfJun, empl.StartedDate - 1) else 0 end) - (case when isnull(empl.TernimationDate, @EndOfDec) < @EndOfJun then dbo.udf_CountDayExceptSunday(empl.TernimationDate, @EndOfJun) else 0 end) - sum(case when (ptn.LeaveType_ID not in ('11','19','50','58','24') and ptn.DateLeave between @FirstOfJun and @EndOfJun) then isnull(ptn.HourLeave,0)/8.0 else 0 end) >= 0 then 1 else 0 end as jun
			, case when isnull(nkhdct.NgayKyHDChinhThuc,@FirstOfJan) > @EndOfJul /*@FirstOfJul and @EndOfJul and day(isnull(nkhdct.NgayKyHDChinhThuc,@FirstOfJul)) >= 15*/ then 0 when dbo.udf_CountDayExceptSunday(@FirstOfJul,@EndOfJul) - 14 - (case when empl.StartedDate > @FirstOfJul then dbo.udf_CountDayExceptSunday(@FirstOfJul, empl.StartedDate - 1) else 0 end) - (case when isnull(empl.TernimationDate, @EndOfDec) < @EndOfJul then dbo.udf_CountDayExceptSunday(empl.TernimationDate, @EndOfJul) else 0 end) - sum(case when (ptn.LeaveType_ID not in ('11','19','50','58','24') and ptn.DateLeave between @FirstOfJul and @EndOfJul) then isnull(ptn.HourLeave,0)/8.0 else 0 end) >= 0 then 1 else 0 end as jul
			, case when isnull(nkhdct.NgayKyHDChinhThuc,@FirstOfJan) > @EndOfAug /*@FirstOfAug and @EndOfAug and day(isnull(nkhdct.NgayKyHDChinhThuc,@FirstOfAug)) >= 15*/ then 0 when dbo.udf_CountDayExceptSunday(@FirstOfAug,@EndOfAug) - 14 - (case when empl.StartedDate > @FirstOfAug then dbo.udf_CountDayExceptSunday(@FirstOfAug, empl.StartedDate - 1) else 0 end) - (case when isnull(empl.TernimationDate, @EndOfDec) < @EndOfAug then dbo.udf_CountDayExceptSunday(empl.TernimationDate, @EndOfAug) else 0 end) - sum(case when (ptn.LeaveType_ID not in ('11','19','50','58','24') and ptn.DateLeave between @FirstOfAug and @EndOfAug) then isnull(ptn.HourLeave,0)/8.0 else 0 end) >= 0 then 1 else 0 end as aug
			, case when isnull(nkhdct.NgayKyHDChinhThuc,@FirstOfJan) > @EndOfSep /*@FirstOfSep and @EndOfSep and day(isnull(nkhdct.NgayKyHDChinhThuc,@FirstOfSep)) >= 15*/ then 0 when dbo.udf_CountDayExceptSunday(@FirstOfSep,@EndOfSep) - 14 - (case when empl.StartedDate > @FirstOfSep then dbo.udf_CountDayExceptSunday(@FirstOfSep, empl.StartedDate - 1) else 0 end) - (case when isnull(empl.TernimationDate, @EndOfDec) < @EndOfSep then dbo.udf_CountDayExceptSunday(empl.TernimationDate, @EndOfSep) else 0 end) - sum(case when (ptn.LeaveType_ID not in ('11','19','50','58','24') and ptn.DateLeave between @FirstOfSep and @EndOfSep) then isnull(ptn.HourLeave,0)/8.0 else 0 end) >= 0 then 1 else 0 end as sep
			, case when isnull(nkhdct.NgayKyHDChinhThuc,@FirstOfJan) > @EndOfOct /*@FirstOfOct and @EndOfOct and day(isnull(nkhdct.NgayKyHDChinhThuc,@FirstOfOct)) >= 15*/ then 0 when dbo.udf_CountDayExceptSunday(@FirstOfOct,@EndOfOct) - 14 - (case when empl.StartedDate > @FirstOfOct then dbo.udf_CountDayExceptSunday(@FirstOfOct, empl.StartedDate - 1) else 0 end) - (case when isnull(empl.TernimationDate, @EndOfDec) < @EndOfOct then dbo.udf_CountDayExceptSunday(empl.TernimationDate, @EndOfOct) else 0 end) - sum(case when (ptn.LeaveType_ID not in ('11','19','50','58','24') and ptn.DateLeave between @FirstOfOct and @EndOfOct) then isnull(ptn.HourLeave,0)/8.0 else 0 end) >= 0 then 1 else 0 end as oct
			, case when isnull(nkhdct.NgayKyHDChinhThuc,@FirstOfJan) > @EndOfNov /*@FirstOfNov and @EndOfNov and day(isnull(nkhdct.NgayKyHDChinhThuc,@FirstOfNov)) >= 15*/ then 0 when dbo.udf_CountDayExceptSunday(@FirstOfNov,@EndOfNov) - 14 - (case when empl.StartedDate > @FirstOfNov then dbo.udf_CountDayExceptSunday(@FirstOfNov, empl.StartedDate - 1) else 0 end) - (case when isnull(empl.TernimationDate, @EndOfDec) < @EndOfNov then dbo.udf_CountDayExceptSunday(empl.TernimationDate, @EndOfNov) else 0 end) - sum(case when (ptn.LeaveType_ID not in ('11','19','50','58','24') and ptn.DateLeave between @FirstOfNov and @EndOfNov) then isnull(ptn.HourLeave,0)/8.0 else 0 end) >= 0 then 1 else 0 end as nov
			, case when isnull(nkhdct.NgayKyHDChinhThuc,@FirstOfJan) > @EndOfDec /*@FirstOfDec and @EndOfDec and day(isnull(nkhdct.NgayKyHDChinhThuc,@FirstOfDec)) >= 15*/ then 0 when dbo.udf_CountDayExceptSunday(@FirstOfDec,@EndOfDec) - 14 - (case when empl.StartedDate > @FirstOfDec then dbo.udf_CountDayExceptSunday(@FirstOfDec, empl.StartedDate - 1) else 0 end) - (case when isnull(empl.TernimationDate, @EndOfDec) < @EndOfDec then dbo.udf_CountDayExceptSunday(empl.TernimationDate, @EndOfDec) else 0 end) - sum(case when (ptn.LeaveType_ID not in ('11','19','50','58','24') and ptn.DateLeave between @FirstOfDec and @EndOfDec) then isnull(ptn.HourLeave,0)/8.0 else 0 end) >= 0 then 1 else 0 end as [dec]
	from 	
	udf_EmployeeFilter (@Lan,@fact,@dept,@sect,@team,@pos,@posc,@emp,GETDATE()) empl
	left join
	udf_BangPhepTheoNgay(2,@FirstOfJan,@EndOfDec,@fact,@dept,@sect,@team,@pos,@posc,@emp,null) ptn
	on empl.Employee_ID = ptn.Employee_ID
	left join
	SmartBooks_LeaveType lt
	on ptn.LeaveType_ID = lt.LeaveType_ID
	left join
	udf_NgayKyHDChinhThuc (@FirstOfJan,@EndOfDec,@emp) nkhdct
	on empl.Employee_ID = nkhdct.Employee_ID
	--where UnA_dec > 30 or acc_dec > 180 or sick_dec > 60
	group by empl.Employee_ID, empl.StartedDate, empl.TernimationDate, nkhdct.NgayKyHDChinhThuc

	return
end